:root {
  --md-sys-color-primary: #049f88;
  --md-sys-color-on-primary: #ffffff;
  --md-sys-color-primary-container: #f0f2f0;
  --md-sys-color-on-primary-container: #28302e;
  --md-sys-color-secondary: #8a928f;
  --md-sys-color-on-secondary: #ffffff;
  --md-sys-color-secondary-container: #e1e3e0;
  --md-sys-color-on-secondary-container: #333836;
  --md-sys-color-tertiary: #6b7a77;
  --md-sys-color-on-tertiary: #ffffff;
  --md-sys-color-tertiary-container: #dde3e0;
  --md-sys-color-on-tertiary-container: #232f2c;
  --md-sys-color-error: #b3261e;
  --md-sys-color-on-error: #ffffff;
  --md-sys-color-error-container: #f9dedc;
  --md-sys-color-on-error-container: #410e0b;
  --md-sys-color-background: #fafbfb;
  --md-sys-color-on-background: #1a1c1b;
  --md-sys-color-surface: #fcfcfc;
  --md-sys-color-on-surface: #1a1c1b;
  --md-sys-color-surface-variant: #e0e3e1;
  --md-sys-color-on-surface-variant: #404846;
  --md-sys-color-outline: #717976;
  --md-sys-color-shadow: #000000;
  --md-sys-color-inverse-surface: #2f3130;
  --md-sys-color-inverse-on-surface: #f0f1ef;
  --md-sys-color-inverse-primary: #b8c7c3;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

